trigger:
  branches:
    include:
      - Master

stages:
# =================================
# APPROVAL STAGE (SERVER JOB)
# =================================
- stage: Approval
  displayName: Manual Approval Stage
  jobs:
  - job: ApprovalJob
    displayName: Wait for Approval
    pool: server
    steps:
    - task: ManualValidation@0
      displayName: Approve to Start Pipeline
      inputs:
        notifyUsers: |
          Project Administrators
        instructions: |
          Please approve to start the frontend build and deployment.
