trigger:
  branches:
    include:
      - Main

stages:
- stage: ApprovalOnly
  displayName: Approval Test
  jobs:
  - job: Approval
    pool: server
    steps:
    - task: ManualValidation@0
      inputs:
        notifyUsers: |
          yourname@company.com
        instructions: |
          Approve to test pipeline.
